@model MemoryGame.Factory.Card[]

<h3>Memory Game</h3>
<div class="Images">
    @for (int i = 0; i < @Model.Length; i++)
    {
        <img id="@i" src="@Model[i].ImageValue" alt="img" width="75" height="75" />
    }
</div>

